<!-- Javascript -->

<!-- JS Global Compulsory -->
<script src="{{ "/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/jquery-migrate/jquery-migrate.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/jquery.easing/js/jquery.easing.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/popper.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/bootstrap/bootstrap.min.js" | relative_url }}"></script>

<!-- JS Implementing Plugins -->
<script src="{{ "/assets/vendor/masonry/dist/masonry.pkgd.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/slick-carousel/slick/slick.js" | relative_url }}"></script>
<script src="{{ "/assets/vendor/hs-megamenu/src/hs.megamenu.js" | relative_url }}"></script>

<!-- JS Unify -->
<script src="{{ "/assets/js/hs.core.js" | relative_url }}"></script>
<script src="{{ "/assets/js/components/hs.header.js" | relative_url }}"></script>
<script src="{{"/assets/js/helpers/hs.hamburgers.js" | relative_url }}"></script>
<script src="{{ "/assets/js/components/hs.scroll-nav.js" | relative_url }}"></script>
<script src="{{ "/assets/js/components/hs.carousel.js" | relative_url }}"></script>

<!-- JS Master Slider -->
<script src="{{ "/assets/vendor/master-slider/source/assets/js/masterslider.min.js" | relative_url }}"></script>

<!-- JS Custom -->
<script src="{{ "/assets/js/custom.js" | relative_url }}"></script>

<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of carousel
    $.HSCore.components.HSCarousel.init('.js-carousel');
  });

  $(window).on('load', function() {
    // initialization of header
    $.HSCore.components.HSHeader.init($('#js-header'));
    $.HSCore.helpers.HSHamburgers.init('.hamburger');

    // initialization of HSMegaMenu component
    $('.js-mega-menu').HSMegaMenu({
      event: 'hover',
      pageContainer: $('.container'),
      breakpoint: 991
    });

    // initialization of masonry
    $('.masonry-grid').imagesLoaded().then(function () {
      $('.masonry-grid').masonry({
        columnWidth: '.masonry-grid-sizer',
        itemSelector: '.masonry-grid-item',
        percentPosition: true
      });
    });
  });

  var slider = new MasterSlider();

  slider.setup('masterslider', {
    width: 1600,
    height: 500,
    space: 5,
    preload: 3,
    view: 'basic'
  });
  slider.control('arrows');

  var gallery = new MSGallery('ms-gallery-1', slider);

  gallery.setup();
</script>
{% if page.syntaxHighlighter %}
  <script src="{{ site.baseurl_javascripts }}highlighter.js"></script>
  <script src="{{ site.baseurl_javascripts }}plugins/prism-line-numbers.min.js"></script>
{% endif %}
<script>
  $(document).ready(function(){

    // Featured image loaded behavior
    $('.section-backgroundImage img').imagesLoaded()
      .done( function( instance ) {
        $('.post-featuredImage').addClass('is-loaded');
      });

    // Modal toggle behavior
    $('.modal-toggle-wrapper').click(function() {
    	$(this).toggleClass('active');
      $('.modal-toggle-bubble').toggleClass('active');
    	$('.modal-toggle-bubbleShadow').toggleClass('active');
      $('.modal-toggle-close-wrapper').toggleClass('active');
      $('.fullscreenModal').toggleClass('active');
    });

    // Prevent default anchor event and make a share popup
    $.fn.sharePopup = function (e, intWidth, intHeight, blnResize) {

      e.preventDefault();
      intWidth = intWidth || '750';
      intHeight = intHeight || '500';
      strResize = (blnResize ? 'yes' : 'no');

      //// Set title and open popup with focus on it
      var strTitle = ((typeof this.attr('title') !== 'undefined') ? this.attr('title') : 'Social Share'),
          strParam = 'width=' + intWidth + ',height=' + intHeight + ',resizable=' + strResize,
          objWindow = window.open(this.attr('href'), strTitle, strParam).focus();
    }

    $('.shareButton').on("click", function(e) {
      $(this).sharePopup(e);
    });
  });

  // Show modal toggle after scrolling 300px
  $(document).scroll(function() {
    $('.modal-toggle-group').toggleClass('active', $(document).scrollTop() >= 300);
  });
</script>
