<div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
  <div class="row">
    <div class="col-xs-4" style="padding-left:2%;"><img src="{{site.baseurl}}assets/img/logo/logo.png"></div>
    <div class="col-xs-8" style="padding-top:8px;">
      <h4> <a href="{{site.baseurl}}sail">Sail</a> | <a href="{{site.baseurl}}dive">Dive</a> | <a href="{{site.baseurl}}mountain">Mountain</a> | <a href="{{site.baseurl}}travel">Travel</a> | <a href="{{site.baseurl}}turbulence">Turbulence</a> | <a href="{{site.baseurl}}blog/">Blog</a> | <a href="{{site.baseurl}}contact">Contact</a></h4>
    </div>

  </div>

</div>
