<!-- Header -->


       <nav class="navbar navbar-expand-lg g-py-0">
         <div class="container g-pos-rel">
           <!-- Logo -->
           <a href="#!" class="js-go-to navbar-brand u-header__logo">
             <img class="u-header__logo-img u-header__logo-img--main g-width-90" src="../assets/img/logo/logo.png" alt="Image description">

           </a>
           <!-- End Logo -->

           <!-- Navigation -->
           <div class="collapse navbar-collapse align-items-center flex-sm-row" id="navBar">
             <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-letter-spacing-1 g-font-size-12 g-pt-20 g-pt-0--lg ml-auto">
               <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                 <a href="{{site.baseurl}}sail" class="nav-link p-0">Sail</a>
               </li>
               <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                 <a href="{{site.baseurl}}dive" class="nav-link p-0">Dive</a>
               </li>
               <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                 <a href="{{site.baseurl}}" class="nav-link p-0">Mountain</a>
               </li>
               <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                 <a href="{{site.baseurl}}travel" class="nav-link p-0">Travel</a>
               </li>
               <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                 <a href="{{site.baseurl}}turbulence" class="nav-link p-0">Turbulence</a>
               </li>
               <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                 <a href="{{site.baseurl}}blog" class="nav-link p-0">Blog</a>
               </li>
               <li class="nav-item g-ml-15--lg">
                 <a href="{{site.baseurl}}contact" class="nav-link p-0">Contact</a>
               </li>
             </ul>
           </div>
           <!-- End Navigation -->

           <!-- Responsive Toggle Button -->
           <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-15 g-right-0" type="button"
                   aria-label="Toggle navigation"
                   aria-expanded="false"
                   aria-controls="navBar"
                   data-toggle="collapse"
                   data-target="#navBar">
             <span class="hamburger hamburger--slider">
               <span class="hamburger-box">
                 <i style="padding-top:10px;" class="fa fa-bars"></i>
               </span>
             </span>
           </button>
           <!-- End Responsive Toggle Button -->
         </div>
       </nav>


   <!-- End Header -->
