

.container {
  padding-top: 25px !important;
}


@media (min-width: 0)
.g-py-10 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}
a {
    color: #999 !important;
    outline: none;
}


/*menu*/
.u-header {
    position: absolute !important;

}



/* Rev Layer */
.layer-text {
  font-size: 24px !important;
}
.rev_slider {
    height: 89% !important;
}
.navbar {
  top: -3% !important;
}
